<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.gec.mapper.TaskDetailMapper">
    <insert id="addTaskDetail">
        insert into in_ware_task_detail(
            orderNo,meterialNo,count,
            note,unit
        )values(#{orderNo},#{meterialNo},#{count},#{note},#{unit})
    </insert>
    <select id="getList" resultType="com.gec.domain.TaskDetail">
        select iwtd.*,m.meterialName from in_ware_task_detail iwtd
        left join meterial m
        on m.meterialNo=iwtd.meterialNo
        where orderNo=#{orderNo}
    </select>
    <update id="updateStatus">
        update in_ware_task_detail set
        status=#{status}
        where orderNo=#{orderNo}
    </update>
</mapper>